<div id="content"></div>

<script type="text/javascript">

var USERS = <%= User.all.to_json.html_safe %>
var CURRENT_USER_ID = <%= current_user.id %>
$(function() {

  PT.initialize(CURRENT_USER_ID);

});
</script>