<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>

<h3>Your photos</h3>
<ul id="user_photos"></ul>

<%= render "photos/add_photo" %>

<script type="application/json" id="bootstrapped_user">
  <%= @user.to_json.html_safe %>
</script>

<script type="text/template" id="photoLi">
<li>
  <a id='<%%= photo.id %>'><%%= photo.title %></a>
</li>
</script>

<script>
$(function() {
  var ulElement = $('#user_photos')

  var user = JSON.parse($("#bootstrapped_user").html());

  PT.Photo.fetchByUserId(user['id'], function(photos){
    var liElements = []
    photos.forEach(function(photo) {
      var photoLiCode = $('#photoLi').html();
      ulElement.append(_.template(photoLiCode)({photo:photo}));
    });
  })

    // )
});
</script>