/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.image_detail {
  max-width: 600px;
  display: block;
}

.photo_detail_view {
  position:relative;
}

.photo_tag {
  border: 4px solid blue;
  width: 100px;
  height: 100px;
  float:left;
}
.existing_tag .tagName {
  position: relative;
  top:104px;
  background: white;
  display:none;
  position:relative;
  height: 24px;
}

.existing_tag .tagName button{
  right:10px;
  position:absolute;
}

.existing_tag:hover .tagName {
  display:block;
}

.existing_tag {
  border: 4px solid #000080;
  width: 100px;
  height: 100px;
  position: absolute;
}

ul.tag-options {
  float:left;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 100px;
  color: black;
  font-size: 20px;
  background: white;
  opacity:0.65;
}

ul.tag-options li {
  border: solid blue 5px;
  height: 20px;
  width: 100px;
}