<form id="upload_new" action="/api/photos.json" method="post" accept-charset="utf-8">

  <label>
    Title
    <input type="text" name="photo[title]">
  </label>

  <label>
    URL
    <input type="text" name="photo[url]">
  </label>

  <input id="upload_button" type="submit" value="Upload">
</form>

